.parent-center{
    position: relative;

}
h1 {
    position: absolute;
    left:44%;
    top: 20%;
}
input{
    position:absolute;
    border-radius: 20px 20px 20px 20px;
    width:400px;
    left: 41%;
    top: 48%;

}
