html{
    position:relative;
    min-height: 100%;
}

.head {
    display: flex;
   flex-direction:row;
justify-content: space-between;
   
}
.as {
    font-family: arial, sans-serif;
    opacity: 0.70;
    font-size: 15px;
    align-self: flex-start;
}
.gi {
    font-family: arial, sans-serif;
    opacity: 0.70;
    font-size: 15px;
    
}
.sign{
    background-color: blue;
    color: white;
    border-color: white;
    height: 2.5em;
    width: 5em;
    font-weight: bolder;
    border-style: hidden;
    

}



.container{
 display: flex;
flex-direction:column;
padding: 200px;
justify-content: center;

}
.logo {
    width: 300px;
    align-self:center;
    
}
.buttons {
    align-self: center; 
    padding-top: 25px;
    transform:translateY(-100px);

}
.b1{
    
    font-family: arial, sans-serif;
    margin: 25px 4px;
   height: 40px;
   border-color: white;
   opacity: 0.6;
   padding-right: 8px;
   border-style: hidden;
}
.b2 {
    
    font-family: arial, sans-serif;
    margin: 25px 4px;
   height: 40px;
   border-color: white;
   opacity: 0.6;
   padding-left: 8px;
   border-style: hidden;
}
.searchall {
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    padding-bottom: 120px;
    
}

.search {
    align-self:center;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    height: 44px;
    width: 500px;
    margin: 0 auto;
    margin-top: 25px;
}
#search-icon{
   
    align-self: center; 
    transform:translateY(60px);
    padding-right: 450px;
    opacity: 0.5;    
   }
   
   ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }
li a {
    color: white;
    text-decoration: none;
    font-size:large;

}
footer{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    background-color: #A0A0A0;
    
}
li a:hover {
    text-decoration: underline;
}
li{
    display: inline-block;
    padding-right: 15px;

}

